footer {
    text-align: center;
    padding:20px;
    background-color: seagreen;
    margin-top: 10px;
}
footer ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    gap: 10px;
}
footer ul li{
    background-color: aliceblue;
    padding:0 20px;
}